<p id="notice"><%= notice %></p>

<h1>
  <%= @song.title %> <br />
  by <%= @song.artist %>
</h1>

<p>
  via: <%= link_to "Listen", @song.url %>
</p>

<p>
  <% @song.provider %>
</p>

<p>
  <%= raw @song.embed_code %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
