<p id="notice"><%= notice %></p>


<h1> <%= @guess.title %> by <%= @guess.artist %></h1>

<p clas="well">
  <%= raw(@guess.embed_code) %>
</p>


<p>
  Guessed by <%= link_to "#{@user.name}", user_path(@user) %> on <%= link_to "#{@post.title}", post_path(@post) %>
</p>


<%= link_to 'Edit', edit_guess_path(@guess) %> |
<%= link_to 'Back', guesses_path %>
