<p id="notice"><%= notice %></p>

<p>
  <b>Photo:</b>
  <%= @guess.photo_id %>
</p>

<p>
  <b>Guess:</b>
  <%= @guess.guess_id %>
</p>


<%= link_to 'Edit', edit_guess_path(@guess) %> |
<%= link_to 'Back', guesses_path %>
