<%= simple_form_for(@photo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%#= f.hidden_field(:image_cache) %>
    <%= f.input :image %>
    <%= f.input :description, :input_html => {:rows => 4} %>
    <%= f.input :thumbnail, :as => :hidden %>
    <%= f.input :song_title %>
    <%= f.input :song_artist %>
    <%= f.input :song_url %>
    <%= f.input :published, as: :hidden %>
    <%= f.input :embed_code, as:  :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
