<%= link_to "HH", root_path, :class => 'brand' %>
<ul class="nav pull-right">
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
      <li>
        <%= link_to 'New Photo', new_photo_path %>
      </li>
    <% end %>
      <li class="dropdown">
        <a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#">
            Account
            <b class="caret"></b>
          </a>
        <ul class="dropdown-menu">
          <% if current_user.has_role? :admin %>
          <li>
          <%= link_to 'Admin', users_path %>
          </li>
           <li>
          <%= link_to 'Edit account', edit_user_registration_path %>
          </li>
          <% end %>
          <li>
          <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
          </li>
        </ul>
      </li>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
     <li>
    <%= link_to 'Login', new_user_session_path %>
    </li> 
  <% end %>
</ul>
